body {
    padding-top: 50px;
    padding-bottom: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
}

th, td{
    text-align: center;
}